[submodule "dependencies/orix-sdk"]
	path = dependencies/orix-sdk
	url = https://github.com/assinie/orix-sdk.git
[submodule "dependencies/ch395-lib"]
	path = dependencies/ch395-lib
	url = https://github.com/orix-software/ch395-lib
[submodule "dependencies/ds1501-lib"]
	path = dependencies/ds1501-lib
	url = https://github.com/orix-software/ds1501-lib.git
