[Atmos(usbdrive)]
path=/usr/share/basic11/basicus1.rom
[Atmos(sdcard)]
path=/usr/share/basic11/basicsd1.rom
[Atmos(real tape)]
path=/usr/share/roms/pravus1.rom
[Oric-1(usbdrive)]
path=/usr/share/basic10/basicus2.rom
[Oric-1(sdcard)]
path=/usr/share/basic10/basicsd2.rom
[Oric-1(real tape)]
path=/usr/share/roms/pravus1.rom
[Pravetz(usbdrive)]
path=/usr/share/pravetzt/pravus1.rom
[Pravetz(sdcard)]
path=/usr/share/pravetzt/pravsd1.rom
[Pravetz(real tape)]
path=/usr/share/roms/pravus1.rom
[Dflat 1.13(real tape)]
path=/usr/share/dflat/dflat.rom