[Atmos (usbdrive)]
path=/usr/share/basic11/basicus1.rom
[Atmos (sdcard)]
path=/usr/share/basic11/basicsd1.rom
[Atmos (Hardware Tape)]
path=/usr/share/basic11/basic11b.rom
[Oric-1 (usbdrive)]
path=/usr/share/basic10/basicus2.rom
[Oric-1 (sdcard)]
path=/usr/share/basic10/basicsd2.rom
[Oric-1 (Hardware Tape)]
path=/usr/share/basic10/basic10.rom
[Pravetz (usbdrive)]
path=/usr/share/pravetzt/pravus1.rom
[Pravetz (sdcard)]
path=/usr/share/pravetzt/pravsd1.rom
[Dflat test]
path=/usr/share/systemd/roms/dflat10.rom
[Dflat test]
path=/usr/share/systemd/roms/dflattes.rom
[Atmos FR 2drive)]
path=/usr/share/systemd/roms/bas11fr2.rom
[Atmos FR 2drive)]
path=/usr/share/systemd/roms/bas11fr2.rom